.top{
color: maroon;
}

.center{
    background-color: antiquewhite;
}

.user{
    font-style: italic;
}

a{
    text-decoration: none;
 font-weight: bold;
}

button{
    margin-top: 10px;
}

a:hover{
    text-decoration: underline ;
}